.regi_form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}
.fodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.regi_form input{
    margin: 2px 0px;
    outline:none;
}
.regi_form input[type='button']{
    background-color: #262626;
    color: white;
    border: none;
    padding: 3px;
    height: 35px;
}